/*
---
index.html
Start Default Styling: bypass browser default and set page's sizings
---
*/
html {
    min-height: 100dvh;
    min-width: 100dvw;   
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 50px;
}
/*
---
End Default Styling
---
*/

/*
---
Main Section: Styling of main section including including header and introduction banner
---
*/
/* @media screen and (max-width: 660px) {
  .nav-item {
    display: none;
  }
  .nav button {
    display: block;
  }
} */
header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    gap: 20%;
    top: 0;
    background-color: #f6f4f1;
}
.nav button{
    display: none;
}
.background {
    background-color: #f6f4f1;
}
.work {
    border-bottom: 1px black solid;
}
.about {
    border-bottom: 1px black solid;
}
.main-name {
    font-size: 1.5rem;
}
ul {
    display: flex;
    list-style: none;
    gap: 10%;
}
a{
    text-decoration: none;
    color: #000000;
}
.background > main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: #f6f4f1;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-bottom: 5%;
}
.introduction {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
    padding-top: 50px;
}
.start {
    border: none;
    background-color: #f6f4f1;
    color: #000000;
    font-size: 2.0rem;
    margin-top: 10%;
}
/*
---
End Main Section
---
*/
/*
---
Start Works Section: Styling of section showcasing works.
---
*/
.works-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 5%;
}
.work-section > img{
    width: 100%; 
    height: auto;
}

.work-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50%;
}
.work-info > h2 {
    text-wrap: nowrap;
}
.details > p {
    font-size: .8rem;
}
/*
---
End Works Section
---
*/
/*
---
Start Connect Section: The last part of the main page
---
*/
hr {
    width: 80%;
}
.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: .9rem;
    margin-top: 15%;
}
.connect a {
    color: orange;
    text-decoration: underline;
}
/*
---
End Connect Section
---
*/
/*
---
Start Footer Section: Last part of the page
---
*/
footer {
    display: flex;
    border-top: 1px gray solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    flex: 0;
}
/*
---
End Footer
---
*/

/*
about.html
---
Main Section: Style the main section of the page
---
*/
.main-about {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.main-about > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-top: 50px;
    gap: 5%;
}
.about-details > img{
    height: 10rem;
    width: auto;
    flex: 1;
}
.about-details {
    display: flex;
    gap: 10%;
}
.main-about button {
    margin-top: 3%;
    padding: 2%;
    background-color: #FFFFFF;
    border-radius: 20px;
    color: orangered;
    border: 2px orangered solid;
}
/*
---
End Main Section
---
*/
/*
---
Start Toolkit Section: Mention All Kit Available
---
*/
.toolkit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: #f6f4f1;
    padding: 5% 0 5% 0;
    gap: 10%;
}
/*
---
End Toolkit
---
*/