html{
    height: 100dvh;
    width: 100dvw;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Courier, monospace;
    text-wrap: wrap;
}
header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20%;
    background-color: #f6f4f1;
}
.work {
    border-bottom: 1px black solid;
}
.main-name {
    font-size: 1.5rem;
}
ul {
    display: flex;
    list-style: none;
    gap: 10%;
}
.nav a ,.start > a{
    text-decoration: none;
    color: #000000;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #f6f4f1;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.introduction {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.start {
    border: none;
    background-color: #f6f4f1;
    color: #000000;
    font-size: 2.0rem;
    margin-top: 10%;
}